.main-page {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100vw;

  @media screen and (max-width: 650px) {
    flex-direction: column;
  }

  .project-section {
    width: 50%;
    min-width: 550px;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 10px 30px;
    border-right: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 650px) {
      padding: 20px 5px;
      border: 0;
      width: 100%;
      min-height: unset;
      border-bottom: 3px solid #eeeeee;
      min-width: unset;
    }
  }

  .deliverable {
    display: flex;
    margin: 5px 0;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .deliverable-input {
      width: 100%;
      margin-right: 10px;

      @media screen and (max-width: 500px) {
        margin: 10px 0;
      }
    }
  }

  .deliverable {
    display: flex;
    margin: 5px 0;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .deliverable-input {
      width: 100%;
      margin-right: 10px;

      @media screen and (max-width: 500px) {
        margin: 10px 0;
      }
    }
  }

  .project-description-wrapper {
    text-align: left;

    .project-description {
      font-weight: 700;
    }
  }

  .jury-section {
    width: 50%;
    min-width: 550px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 30px;
    border-left: 1px solid #eeeeee;

    @media screen and (max-width: 650px) {
      padding: 20px 5px;
      border: 0;
      width: 100%;
      min-height: unset;
      border-bottom: 3px solid #eeeeee;
      min-width: unset;
    }
  }
}