.projects-overview-title {
  padding: 20px 0 !important;
}

.projects-overview-table-wrapper {
  min-height: 90vh;
}

.table-filter-input {
  width: 100%;
}

.modal-field {
  display: flex;
  justify-content: center;
  width: 100%;

  label {
    min-width: 100px;
    text-align: left;
  }

  input {
    opacity: 1 !important;
    color: rgba(0,0,0,1);
  }
}

.modal-list {
  width: 100%;
  text-align: left;
  p {
    margin-bottom: 0;
  }
}

.modal-deliverables {
  width: 100%;
}

.modal-deliverables-wrapper {
  text-align: left;

  .modal-deliverables-labels {
    font-weight: 700;
  }
}
