.form-custom {
  width: 550px !important;
}
@media screen and (max-width: 620px) {
  .form-custom {
    width: 450px !important;
  }
}
@media screen and (max-width: 460px) {
  .form-custom {
    width: 95% !important;
  }
}

.page-loader-main {
  display: flex;
  flex: 1;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #000000;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hidden {
  display: none !important;
}

.header-custom {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.main-page {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100vw;
}
@media screen and (max-width: 650px) {
  .main-page {
    flex-direction: column;
  }
}
.main-page .project-section {
  width: 50%;
  min-width: 550px;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 10px 30px;
  border-right: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .main-page .project-section {
    padding: 20px 5px;
    border: 0;
    width: 100%;
    min-height: unset;
    border-bottom: 3px solid #eeeeee;
    min-width: unset;
  }
}
.main-page .deliverable {
  display: flex;
  margin: 5px 0;
}
@media screen and (max-width: 500px) {
  .main-page .deliverable {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.main-page .deliverable .deliverable-input {
  width: 100%;
  margin-right: 10px;
}
@media screen and (max-width: 500px) {
  .main-page .deliverable .deliverable-input {
    margin: 10px 0;
  }
}
.main-page .deliverable {
  display: flex;
  margin: 5px 0;
}
@media screen and (max-width: 500px) {
  .main-page .deliverable {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.main-page .deliverable .deliverable-input {
  width: 100%;
  margin-right: 10px;
}
@media screen and (max-width: 500px) {
  .main-page .deliverable .deliverable-input {
    margin: 10px 0;
  }
}
.main-page .project-description-wrapper {
  text-align: left;
}
.main-page .project-description-wrapper .project-description {
  font-weight: 700;
}
.main-page .jury-section {
  width: 50%;
  min-width: 550px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 30px;
  border-left: 1px solid #eeeeee;
}
@media screen and (max-width: 650px) {
  .main-page .jury-section {
    padding: 20px 5px;
    border: 0;
    width: 100%;
    min-height: unset;
    border-bottom: 3px solid #eeeeee;
    min-width: unset;
  }
}

.projects-overview-title {
  padding: 20px 0 !important;
}

.projects-overview-table-wrapper {
  min-height: 90vh;
}

.table-filter-input {
  width: 100%;
}

.modal-field {
  display: flex;
  justify-content: center;
  width: 100%;
}
.modal-field label {
  min-width: 100px;
  text-align: left;
}
.modal-field input {
  opacity: 1 !important;
  color: black;
}

.modal-list {
  width: 100%;
  text-align: left;
}
.modal-list p {
  margin-bottom: 0;
}

.modal-deliverables {
  width: 100%;
}

.modal-deliverables-wrapper {
  text-align: left;
}
.modal-deliverables-wrapper .modal-deliverables-labels {
  font-weight: 700;
}

/*# sourceMappingURL=main.css.map */
